@import url("https://fonts.googleapis.com/css?family=Cairo&display=swap");
.border-black {
  border-radius: 7px;
  -webkit-box-shadow: -1px 9px 18px 0 rgba(120, 135, 161, 0.1);
          box-shadow: -1px 9px 18px 0 rgba(120, 135, 161, 0.1);
  padding: 10px;
  margin: 50px 100px 0px 100px;
  /** card action **/
  /** start card add user **/
  /** end card add user **/
}

.border-black .textRight {
  text-align: right;
}

.border-black tr:nth-child(even) {
  background-color: rgba(246, 248, 252, 0.664);
}

.border-black .theme--light.v-data-table tbody tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: rgba(247, 247, 247, 0.34);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.border-black .v-chip.v-size--default {
  width: 60px;
  text-align: center;
  color: #fff;
  border-radius: 7px;
  font-size: 14px;
  font-weight: bold;
}

.border-black .theme--light.v-data-table tbody tr.v-data-table__selected {
  background: rgba(247, 247, 247, 0.34);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.border-black .btn-total {
  border: none;
  border-radius: 7px;
  font-weight: bold;
  color: #756dcc;
  background: #f0f3ff;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  width: 175px;
  height: 45px;
  padding: 10px;
  line-height: 2;
}

.border-black .text-slotBy {
  text-transform: uppercase;
  line-height: 3;
}

.border-black .btn-action {
  float: left;
}

.border-black .btn-action :hover {
  border: none;
  border-radius: 7px;
  color: #756dcc;
  background: #f0f3ff;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

.border-black .btn-action .fas {
  font-size: 16px;
  padding: 5px;
}

.border-black .btn-AddNew {
  border: none;
  border-radius: 7px;
  font-weight: bold;
  color: #756dcc;
  background: #f0f3ff;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  width: 160px;
  height: 50px;
  padding: 10px;
  line-height: 2.5;
}

.border-black .theme--light.v-data-table tbody tr:not(:last-child) td:last-child,
.border-black .theme--light.v-data-table tbody tr:not(:last-child) th:last-child,
.border-black .theme--light.v-data-table tbody tr:not(:last-child) td:not(.v-data-table__mobile-row),
.border-black .theme--light.v-data-table tbody tr:not(:last-child) th:not(.v-data-table__mobile-row) {
  border-bottom: none !important;
}

.border-black .Card-Action {
  -webkit-box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
  box-shadow: 0 0 13px 0 #eff2f8;
  background-color: #fff;
  border-radius: 4px;
  z-index: 1000;
  color: #000;
  margin-left: -55px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  float: left;
}

.border-black .Card-Action ul {
  padding: 10px;
  display: block;
  text-align: center;
  list-style: none;
}

.border-black .Card-Action ul li {
  cursor: pointer;
  padding: 3px;
}

.border-black .Card-Action.showAction {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 1 !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  visibility: visible;
}

.border-black .display > div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.border-black .v-data-table td {
  font-size: 0.875rem;
  height: 48px;
  border-right: 1px solid #cccccc21;
}

.border-black .menuUserAdd-overlay {
  padding: 10px;
  width: 400px;
  height: 500px;
  -webkit-box-shadow: 2px 4px 17px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 4px 17px 0px rgba(0, 0, 0, 0.75);
  background: #ffff;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.border-black .fadeIn-enter-active,
.border-black .fadeIn-leave-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.border-black .fadeIn-enter,
.border-black .fadeIn-leave-to {
  opacity: 0;
}

.border-black .slide-enter-active,
.border-black .slide-leave-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.border-black .slide-enter,
.border-black .slide-leave-to {
  opacity: 0;
}

.border-black .btn-save {
  padding: 8px;
  font-size: 14px;
  width: 80px;
  background: #2196f3b5;
  color: #ffff;
  border-radius: 7px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  cursor: pointer;
}

.border-black .btn-save.none {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.border-black .btn-Add {
  padding: 8px;
  font-size: 14px;
  width: 80px;
  background: #2196f3b5;
  color: #ffff;
  border-radius: 7px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.border-black .btn-cancel {
  background: #ff9a9d;
  padding: 8px;
  font-size: 14px;
  width: 80px;
  color: #ffff;
  border-radius: 7px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */